
<!DOCTYPE html>
<html lang="en" ng-app="demo" ng-controller="MainController as main">
    <head>
        {% load staticfiles %}
        <title>Is your project up to date?</title>
        <link rel="stylesheet" href="{% static "css/normalize.css" %}">
        <link rel="stylesheet" href="{% static "css/style.css" %}">

        <link href='//fonts.googleapis.com/css?family=Roboto:300,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static "css/default.css" %}">

        <!-- Used to enable copy to clipboard on regular clicks -->
        <script src="{% static "js/jquery-2.1.3.min.js" %}"></script>
        <script src="{% static "js/ZeroClipboard.min.js" %}"></script>

        <!-- Angular JS system -->
        <script src="{% static "js/angular.js" %}"></script>
        <script src="{% static "js/angular-cookies.js" %}"></script>

        <!-- Custom components -->
        <script src="{% static "js/services/api.js" %}"></script>
        <script src="{% static "js/controllers/search.js" %}"></script>
        <script src="{% static "js/controllers/project-options.js" %}"></script>
        <script src="{% static "js/demo.js" %}"></script>
    </head>
    <body>
        <div class="wrapper">
            <div class="toolbar">Is Your Project Up To Date?</div>
            <div class="left-menu">
                <div class="left-menu-heading">Checklist <span class="checklist-counter">1/4</span></div>
                <nav>
                    <li>1. Enter your Github information</li>
                    <li>2. Review the project options</li>
                    <li>3. Select the project files to use</li>
                    <li>4. View the dependency summary</li>
                </nav>
            </div>
            <div class="main-content">
                {% include "search-bar.html" %}
                {% comment %}
                {% include "project-options.html" %}
                {% include "file-listing.html" %}
                {% include "dependency-listing.html" %}
                {% endcomment %}
            </div>
            <div class="clearfix"></div>
        </div>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-54542416-1', 'auto');
          ga('send', 'pageview');
        </script>
    </body>
</html>